.summary-container {
  display: flex;
  justify-content: center;
  background: #f6f5f5;
  padding: 60px 0 40px 0;
}

.start-figure {
  filter: invert(29%) sepia(86%) saturate(1663%) hue-rotate(163deg)
    brightness(91%) contrast(101%);
  margin-right: 6px;
}

.summary-text {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  color: #000000;
  margin: 0 40px 0 40px;
  max-width: 800px;
}
