.featured-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f5f5;
  padding: 45px 0 20px 0;
}

/* .project-card {
} */

.featured-projects-heading {
  font-family: Montserrat;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  background: #048998;
  width: 256px;
  margin: 0;
}

.project-card {
  position: relative;
}

.project-card img {
  width: 327px;
  height: 212px;
  margin-top: 40px;
}

.project-img-text {
  font-family: Montserrat;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
  position: absolute;
  top: 74px;
  left: 163px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.514);
}

.project-card-heading {
  font-family: Roboto;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #037380;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 0;
}

.project-info {
  font-family: Roboto;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: black;
  margin: 0 0 3px 0;
}

.project-card img:hover,
.project-card-heading:hover,
.project-info:hover {
  opacity: 0.7;
}

.project-img-text:hover {
  background-color: #b6e0e4af;
}

.tags-container {
  font-family: Roboto;
  font-size: 9px;
  line-height: 11px;
  display: flex;
  letter-spacing: 0.01em;
  color: #000000;
}

.tag {
  display: flex;
  align-items: center;
  height: 21px;
  background: #b6e0e4;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  padding: 0 12px 0 12px;
}

.featured-project-desktop {
  display: none;
}

@media (min-width: 768px) {
  .featured-projects-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

.featured-project-desktop {
  display: block;
}

@media (min-width: 1024px) {
  .featured-projects-box {
    display: grid;
    grid-column-gap: 4rem;
  }
}
