.header-hero {
  position: relative;
  height: 32rem;
  background-image: url("/assets/images/New-Project-smaller.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.header-container {
  position: relative;
  height: 32rem;
  width: 860px;
}

.social-media-container {
  position: absolute;
  top: 35px;
  width: 90%;
  text-align: right;
}

.linkedin-icon {
  width: 40px;
  height: 40px;
  filter: invert(92%) sepia(99%) saturate(7%) hue-rotate(244deg)
    brightness(160%) contrast(100%);
}

.github-icon {
  width: 40px;
  height: 40px;
  margin-left: 14px;
}

.github-icon:hover,
.linkedin-icon:hover {
  opacity: 0.7;
}

.portfolio-headings-container {
  position: absolute;
  top: 121px;
  left: 5%;
}

.portfolio-owner {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.185);
  width: 170px;
  text-align: center;
}

.full-name {
  font-weight: 700;
}

.profession-title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 49px;
  font-weight: 800;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.185);
  /* background-color: rgb(140 201 204 / 57%);
  background-color: rgb(86 126 128 / 57%); */
  padding-left: 10px;
  width: 255px;
}

.profession {
  font-size: 30px;
}

.profile-pic-container {
  position: absolute;
  top: 356px;
  width: 93%;
  text-align: right;
}

.profile-pic {
  width: 175px;
  height: 175px;
  border: 2px solid white;
  filter: grayscale(15%);
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .github-icon {
    margin-left: 20px;
  }

  .profession-title {
    font-size: 45px;
    line-height: 59px;
    width: 270px;
  }

  .profession {
    font-size: 35px;
  }

  .portfolio-owner {
    font-size: 18px;
    line-height: 28px;
    width: 236px;
  }
}

@media (min-width: 1200px) {
  .profile-pic {
    width: 185px;
    height: 185px;
  }

  .linkedin-icon {
    width: 50px;
    height: 50px;
  }

  .github-icon {
    width: 50px;
    height: 50px;
    margin-left: 25px;
  }

  .portfolio-owner {
    font-size: 23px;
    line-height: 33px;
    width: 282px;
  }

  .profession-title {
    font-size: 50px;
    line-height: 64px;
    width: 300px;
  }

  .profession {
    font-size: 40px;
  }
}
