.more-thoughts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}

.more-thoughts-heading {
  font-family: Montserrat;
  font-size: 21px;
  color: #048998;
}

.more-thoughts-links {
  width: 327px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 17px;
  line-height: 29px;
  color: #297f88;
  text-decoration: underline;
  margin-top: 0;
}

.link-texts {
  font-family: Roboto;
  font-weight: bold;
  color: black;
}

.forward-symbol {
  color: #297f88;
  font-weight: bold;
}

.more-thoughts-links:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .more-thoughts-links {
    width: 686px;
  }

  .article-hidden-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .more-thoughts-links {
    width: 718px;
  }
}
