.my-thoughts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0 10px 0;
}

.my-thoughts-heading {
  font-family: Montserrat;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  background: #048998;
  width: 180px;
  margin-bottom: 0;
}

.my-thoughts-heading-desktop {
  font-family: Montserrat;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  background: #048998;
  width: 345px;
  margin: 0;
  display: none;
}

.article-img {
  width: 327px;
  height: 205px;
  margin-top: 40px;
}

.article-date {
  font-family: Roboto;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: #297f88;
  margin-top: 23px;
  margin-bottom: 0;
}

.article-heading {
  font-family: Roboto;
  font-size: 21px;
  line-height: 30px;
  color: black;
  margin: 0;
}

.article-text {
  font-family: Roboto;
  font-size: 17px;
  line-height: 30px;
  color: black;
  margin-top: 0;
}

.forward-symbol {
  color: #297f88;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

.article-img:hover,
.article-heading:hover,
.article-text:hover {
  opacity: 0.7;
}

.article-card-desktop {
  display: none;
}

@media (min-width: 768px) {
  .my-thoughts-heading-desktop {
    display: block;
  }

  .my-thoughts-heading {
    display: none;
  }

  .article-card-desktop {
    display: block;
  }

  .article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
}
