.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f5f5;
  padding: 45px 20px 20px 20px;
}

.skills-heading {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  background: #048998;
  width: 85px;
  margin: 0 0 40px 0;
}

.skill-box {
  margin-bottom: 35px;
}

.skill-group-heading {
  font-family: Roboto;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
  color: #037582;
  margin-top: 10px;
  margin-bottom: 0;
}

.skill-list {
  font-family: Roboto;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
  color: black;
  margin: 0;
  list-style-type: none;
  display: contents;
}

.skill-column-3 {
  display: none;
}

@media (min-width: 768px) {
  .skills-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    text-align: center;
  }
  .skill-column-3 {
    display: block;
  }
}
