.tech-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0 20px 0;
}

.tech-heading {
  font-family: Montserrat;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  background: #048998;
  width: 67px;
  margin: 0;
}

.tech-experience {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 30px 40px 30px 40px;
  max-width: 800px;
}
